html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    width: 1280px;
    margin: auto;

}

*,
*::before,
*::after {
    box-sizing: inherit;
}



@font-face {
    font-family: 'Georgia Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Georgia Regular'), url('./assets/fonts/georgia/georgia.woff') format('woff');
}


@font-face {
    font-family: 'Georgia Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Georgia Italic'), url('./assets/fonts/georgia/georgiai.woff') format('woff');
}


@font-face {
    font-family: 'Georgia Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Georgia Bold'), url('./assets/fonts/georgia/georgiab.woff') format('woff');
}


@font-face {
    font-family: 'Georgia Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Georgia Bold Italic'), url('./assets/fonts/georgia/georgiaz.woff') format('woff');
}

@font-face {
    font-family: 'Arial Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Arial Regular'), url('./assets/fonts/arial/ARIAL.woff') format('woff');
}

.header {
    margin: 0 auto;
    max-width: 1200px;
    max-height: 60px;
    display: flex;
    /* flex-wrap: wrap;
    flex: 0 0 auto; */
    align-items: flex-end;
    justify-content: space-between;
    padding: 30px 40px 0;
    position: absolute;
    top: 30px;
    width: 100%
}

.logo {

    max-width: 184px;
    max-height: 60px;
    text-align: center;
    align-items: middle;

}

.title {
    font-family: 'Georgia Regular';
    font-size: 32px;
    line-height: 110%;
    color: #F1CDB3;
    letter-spacing: 6%;
    max-width: 184px;
    max-height: 35px;
    margin-bottom: 10px;
}

.subtitle {
    font-family: 'Arial Regular';
    font-size: 13px;
    font-weight: 400;
    line-height: 14.95%;
    color: #FFFFFF;
    letter-spacing: 1px;
    max-width: 179px;
    max-height: 15px;
}

.nav-list {
    display: flex;
    /* flex-wrap: wrap;
    flex: 0 0 auto; */
    gap: 35px;
    list-style-type: none;

}

.nav-item {
    font-family: 'Arial Regular';
    font-size: 15px;
    line-height: 160%;


}

a {
    text-decoration: none;
    color: #CDCDCD;
}

.nav-item:first-child {
    border-bottom: solid;
    border-color: #F1CDB3;
    color: #FAFAFA;
}

.not-only {
    max-width: 1200px;
    height: 908px;
    background: url(../../assets/images/start-screen-gradient-background.jpg) no-repeat;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.content {
    align-self: center;
    color: #CDCDCD;
    margin-left: 31px;
    width: 460px;
    height: 322px;

}

#puppy {
    width: 698px;
    height: 728px;
}

h1{
    font-family: 'Georgia Regular';
    font-size: 44px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 57.2px;
    width: 310px;
    height: 114px;
}